<div id="main">
  <nav>
    <app-navigation-side-bar></app-navigation-side-bar>
  </nav>
  <header>
    <img routerLink="" src="/logo/logo-no-background-compact.png" alt="short-post-itter-logo" width="70px"
         height="100px">
  </header>
  <main *ngIf="!isLoaded">
    <app-loader></app-loader>
  </main>
  <main *ngIf="isLoaded">
    <div id="user-info">
      <img src="{{user.profilePicture}}" alt="" class="inline-blk" id="pfp">
      <div class="inline-blk buttons" style="font-size: larger">
        <p style="font-weight: bold; justify-content: start;">{{ user.username }}</p>
        <p style="justify-content: start">{{ user.displayName }}</p>
      </div>
      <div class="inline-blk">
        <div style="display: flex; justify-content: space-between">
          <div class="inline-blk" style="width: 175px">
            <div class="action-buttons" (click)="follow()">Follow</div>
            <div class="action-buttons" (click)="message()"
                 *ngIf="userCanText(JSON.parse(localStorage.getItem('auth-token')!).sub)">Message
            </div>
          </div>
          <div class="inline-blk">
            <div class="inline-blk">
              <p>Posts</p>
              <p *ngIf="user.posts">{{ user.posts?.length }}</p>
              <p *ngIf="!user.posts">0</p>
            </div>
            <div class="inline-blk" (click)="showFollowers()">
              <p>Followers</p>
              <p *ngIf="user.followers">{{ user.followers?.length }}</p>
              <p *ngIf="!user.followers">0</p>
            </div>
            <div class="inline-blk" (click)="showFollowing()">
              <p>Following</p>
              <p *ngIf="user.following">{{ user.following?.length }}</p>
              <p *ngIf="!user.following">0</p>
            </div>
            <div class="dropdown inline-blk" #dropdown>
              <div class="dropdown-option" (click)="block()">
                <img src="/icons/ban.svg" alt="exclamation" width="26px">
                <div>Block User</div>
              </div>
              <div class="dropdown-option" (click)="report()">
                <img src="/icons/cross-circle.svg" alt="cross" width="26px">
                <div>Report User</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <img src="/icons/menu-dots-vertical.svg" alt="" width="24px" id="triggerUserOptions" (click)="showUserOptions()">
    </div>
    <div id="flex-container-posts" *ngIf="canUserSeePosts()">
      <app-post *ngFor="let post of user.posts" [post]="post" [currentUser]="currentUser"
                (click)="setLastClickedPost(post)"></app-post>
    </div>

    <div id="show-followers-overlay" *ngIf="showAllFollowers">
      <div id="followers-modal">
        <div><img src="/icons/cross.svg" alt="" width="20%"
                  style="float: right; border-radius: 50%; background: #aaaaaa" (click)="closeFollowersWindow()"></div>
        <h3>{{ user.username }}'s Followers</h3>
        <div *ngIf="!user.followers || user.followers == 0" style="font-size: smaller">No followers</div>
        <app-user *ngFor="let user of user.followers" [user]="user" routerLink="/users/{{user.id}}"></app-user>
      </div>
    </div>

    <div id="show-following-overlay" *ngIf="showAllFollowing">
      <div id="following-modal">
        <div><img src="/icons/cross.svg" alt="" width="20%"
                  style="float: right; border-radius: 50%; background: #aaaaaa" (click)="closeFollowingWindow()"></div>
        <h3>{{ user.username }}'s Followings</h3>
        <div *ngIf="!user.following || user.following == 0" style="font-size: smaller">No followings</div>
        <app-user *ngFor="let user of user.following" [user]="user" routerLink="/users/{{user.id}}"></app-user>
      </div>
    </div>

    <app-report *ngIf="showReportWindow" (showReportWindowChange)="closeReportWindow($event)"
                [reportedUser]="user"></app-report>
    <app-comment *ngIf="showCommentWindow" (showCommentWindowChange)="closeCommentWindow($event)"
                 [post]="lastClickedPost"
                 [currentUser]="currentUser"></app-comment>
    <app-share *ngIf="showShareWindow" (showShareWindowChange)="closeShareWindow($event)"
               [postToShare]="lastClickedPost"
               [currentUSer]="currentUser"></app-share>
  </main>
</div>
<!-- routerLink="posts/{{post.id}}" -->
