<div id="main">
  <nav>
    <app-navigation-side-bar></app-navigation-side-bar>
  </nav>
  <header>
    <img routerLink="" src="/logo/logo-no-background-compact.png" alt="short-post-itter-logo" width="70px"
         height="100px">
  </header>
  <main>
    <div id="user-info">
      <img src="{{user.profilePicture}}" alt="" class="inline-blk" id="pfp">
      <div class="inline-blk buttons" style="font-size: larger">
        <p style="font-weight: bold; justify-content: start;">{{ user.username }}</p>
        <p style="justify-content: start">{{ user.displayName }}</p>
      </div>
      <div class="inline-blk">
        <div style="display: flex; justify-content: space-between">
          <div class="inline-blk" style="width: 175px">
            <div class="action-buttons" (click)="follow()">Follow</div>
            <div class="action-buttons" (click)="message()" *ngIf="userCanText('here goes active user')">Message</div>
          </div>
          <div class="inline-blk">
            <div class="inline-blk">
              <p>Posts</p>
              <p *ngIf="user.posts">{{ user.posts?.length }}</p>
              <p *ngIf="!user.posts">0</p>
            </div>
            <div class="inline-blk">
              <p>Followers</p>
              <p *ngIf="user.followers">{{ user.followers?.length }}</p>
              <p *ngIf="!user.followers">0</p>
            </div>
            <div class="inline-blk">
              <p>Following</p>
              <p *ngIf="user.following">{{ user.following?.length }}</p>
              <p *ngIf="!user.following">0</p>
            </div>
            <div class="dropdown inline-blk" #dropdown>
              <div class="dropdown-option" (click)="block()">
                <img src="/icons/ban.svg" alt="exclamation" width="26px">
                <div>Block User</div>
              </div>
              <div class="dropdown-option" (click)="report()">
                <img src="/icons/cross-circle.svg" alt="cross" width="26px">
                <div>Report User</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <img src="/icons/menu-dots-vertical.svg" alt="" width="24px" id="triggerUserOptions" (click)="showUserOptions()">
    </div>
    <div id="flex-container-posts" *ngIf="canUserSeePosts('here goes active user')">
      <app-post *ngFor="let post of user.posts" [post]="post"></app-post>
    </div>
  </main>
</div>
