<div id="main" #main>
  <nav>
    <app-navigation-side-bar></app-navigation-side-bar>
  </nav>
  <header>
    <img routerLink="" src="/logo/logo-no-background-compact.png" alt="short-post-itter-logo" width="70px"
         height="100px">
  </header>
  <main>
    <div>
      <h1>About Us</h1>
      <p>
        Welcome to Postitter! We are a dedicated team passionate about bringing you a seamless and engaging social media
        experience. At the heart of our efforts is a skilled and enthusiastic developer who has poured their expertise
        and
        creativity into making Postitter a platform that stands out.
      </p><br>
      <h2>Meet Our Developer</h2>
      <p>
        Our developer is not only a coding wizard but also a fervent fan of Formula 1 and a proud supporter of the
        McLaren
        team. With a deep understanding of technology and a keen eye for detail, they have meticulously crafted
        Postitter
        to ensure it meets the highest standards of performance and user satisfaction.
      </p>
      <p>
        Beyond their technical skills, our developer is also dedicated to providing exceptional support and continuously
        improving the platform. Their commitment to excellence is evident in every aspect of Postitter, from its robust
        functionality to its user-friendly interface.
      </p><br>
      <h2>About Postitter</h2>
      <p>
        Postitter is more than just a social media platform; it's a community where you can share your thoughts, connect
        with others, and stay updated on the topics that matter most to you. Our goal is to create a space that fosters
        meaningful interactions and allows you to express yourself freely and creatively.
      </p>
      <p>
        We believe in the power of technology to bring people together, and we are constantly working to enhance your
        experience on Postitter. Whether you're here to share your latest post, discover new content, or engage with
        friends and followers, Postitter is designed to make your social media journey enjoyable and rewarding.
      </p>
      <p>
        Thank you for being a part of the Postitter community. We are excited to have you with us and look forward to
        seeing the amazing things you will share!
      </p>
    </div>
  </main>
</div>
