<div id="main" #main>
  <nav>
    <app-navigation-side-bar></app-navigation-side-bar>
  </nav>
  <header>
    <img routerLink="" src="/logo/logo-no-background-compact.png" alt="short-post-itter-logo" width="70px"
         height="100px">
  </header>
  <main>
    <div *ngFor="let message of chatMessages" id="message-list">
      <div style="font-weight: bold;">{{ message.sender_username }} <small>{{ message.sent_at }}</small></div>
      <div>
        <div>{{ message.content }}</div>
        <div *ngIf="message.file_url == message.content" style="display: inline-block"
             (click)="viewAttachment(message.file_url!)">
          <img src="/icons/link-alt.svg" alt="" width="20%" style="border-radius: 50%; border: 1px solid black">
        </div>
      </div>
    </div>
    <div #endOfChat style="height: 5px"></div>
    <div id="input">
      <input type="file" name="file-picker" id="file-picker" style="display: none" #filePicker>
      <button id="upload" (click)="filePicker.click()"></button>
      <input type="text" placeholder="Type your message here..." #messageInput>
      <button id="send" (click)="sendMessage(messageInput.value, filePicker.files)"></button>
    </div>

    <div id="add-users-to-chat" (click)="startChat()">
      <span><img src="/icons/add.svg" alt="" width="20%"></span>
      <span>Add Members</span>
    </div>

    <div id="start-chat-overlay" *ngIf="showPossibleChatters">
      <div id="start-chat-modal">
        <div id="close-image">
          <div style="float: right">
            <img src="/icons/cross.svg" alt="" width="32px" style="border-radius: 50%;" (click)="stopChatCreation()">
          </div>
        </div>
        <app-user *ngFor="let chatter of possibleChatters | async" [user]="chatter"
                  (click)="createChat(chatter)"></app-user>
      </div>
    </div>
  </main>
</div>
