<div id="main" #main>
  <header>
    <img routerLink="" src="/logo/logo-no-background-compact.png" alt="short-post-itter-logo" width="70px"
         height="100px">
  </header>
  <main *ngIf="!isLoaded">
    <app-loader></app-loader>
  </main>
  <main *ngIf="isLoaded">
    <form class="form" method="POST" *ngIf="loginPage && !showPasswordRecoveryForm && !requestCode">
      <span class="input-span">
        <label for="email" class="label">Email</label>
        <input type="email" name="email" id="email" required #email/>
      </span>
      <span class="input-span">
        <label for="password" class="label">Password</label>
        <input type="password" name="password" id="password" required #password/>
      </span>
      <span class="span" (click)="showPasswordRecoveryForm = true"><a>Forgot password?</a></span>
      <input class="submit" type="button" value="Log in" (click)="logIn()"/>
      <span class="span">Don't have an account? <a (click)="showSignUpPage()">Sign up</a></span>
    </form>

    <form class="form" *ngIf="showPasswordRecoveryForm">
      <h2>PostItter Password Recovery Service</h2>
      <h4>Insert your recovery email, a link will be sent to you with the link and instructions to recover your
        password. Don't forget to check your spam!</h4>
      <span class="input-span">
        <label for="emailInput">Email Address</label>
        <input type="email" name="emailInput" id="emailInput" required #recoveryEmail>
      </span>
      <input type="button" value="Request Password Recover" class="submit"
             (click)="requestPasswordRecovery(recoveryEmail.value)">
    </form>

    <form class="form" *ngIf="requestCode">
      <span class="input-span">
        <label for="codeInput">Enter Your Authenticator Code:</label>
        <input type="text" name="codeInput" id="codeInput" required #authCode>
      </span>
      <input type="button" value="Authenticate" class="submit" (click)="logInWith2faCode(authCode.value)">
    </form>

    <form class="form" method="POST" *ngIf="!loginPage && !showPasswordRecoveryForm && !requestCode">
      <span class="input-span">
        <label for="email" class="label">Email</label>
        <input type="email" name="email" id="email1"
               (keyup)="userInputs.next();"
               required #email_signup/>
        <div *ngIf="!emailAvailable" style="color: red;">Email not available!</div>
      </span>
      <span class="input-span">
        <label for="password" class="label">Password</label>
        <input type="password" name="password" id="password1" required #password_signup/>
      </span>
      <span class="input-span">
        <label for="username" class="label">Username</label>
        <input type="text" name="username" id="username" required
               (keyup)="userInputs.next();"
               #username/>
        <div *ngIf="!usernameAvailable" style="color: red;">Username not available!</div>
      </span>
      <span class="input-span">
        <label for="display-name" class="label">Display Name</label>
        <input type="text" name="display-name" id="display-name" required #displayname/>
      </span>
      <input class="submit" type="button" value="Sign up" (click)="signUp()"/>
      <span class="span">Already have an account? <a (click)="showSignUpPage()">Log in</a></span>
    </form>
  </main>
</div>
