<div id="main" #main>
  <header>
    <img routerLink="" src="/logo/logo-no-background-compact.png" alt="short-post-itter-logo" width="70px"
         height="100px">
  </header>
  <main>
    <form class="form" method="POST" *ngIf="loginPage">
      <span class="input-span">
        <label for="email" class="label">Email</label>
        <input type="email" name="email" id="email" required #email/>
      </span>
      <span class="input-span">
        <label for="password" class="label">Password</label>
        <input type="password" name="password" id="password" required #password/>
      </span>
      <span class="span"><a href="#">Forgot password?</a></span>
      <!-- TODO coming soon! must allow the user to retrieve the password if forgotten -->
      <input class="submit" type="submit" value="Log in" (click)="logIn()"/>
      <span class="span">Don't have an account? <a (click)="showSignUpPage()">Sign up</a></span>
    </form>

    <form class="form" method="POST" *ngIf="!loginPage">
      <span class="input-span">
        <label for="email" class="label">Email</label>
        <input type="email" name="email" id="email1" required #email/>
      </span>
      <span class="input-span">
        <label for="password" class="label">Password</label>
        <input type="password" name="password" id="password1" required #password/>
      </span>
      <span class="input-span">
        <label for="username" class="label">Username</label>
        <input type="text" name="username" id="username" required #email/>
      </span>
      <span class="input-span">
        <label for="display-name" class="label">Display Name</label>
        <input type="text" name="display-name" id="display-name" required #email/>
      </span>
      <input class="submit" type="submit" value="Sign up" (click)="signUp()"/>
      <span class="span">Already have an account? <a (click)="showSignUpPage()">Log in</a></span>
    </form>
  </main>
</div>
