<div id="share-overlay" #main>
  <div id="share-modal">
    <div id="close-image">
      <div style="float: right; margin: 5px;">
        <img src="/icons/cross.svg" alt="" width="32px" style="border-radius: 50%;" (click)="closeShareMenu()">
      </div>
    </div>
    <app-post [post]="postToShare" [currentUser]="currentUSer" class="post"></app-post>
    <h3>Share Post With...</h3>
    <div id="users">
      <app-user *ngFor="let user of possibleUsers" [user]="user" (click)="share(user)"></app-user>
    </div>
  </div>
</div>
