<div id="post">
  <div id="user">
    <div id="pfp"></div>
    <p id="display-name"></p>
    <p id="username"></p>
    <div id="options">
      <ul>
        <li><span class="icon"></span>Report Post</li>
        <li><span class="icon"></span>Report User</li>
      </ul>
    </div>
  </div>
  <p id="post-content"></p>
  <div id="actions">
    <ul>
      <li><span class="icon"></span><span class="action-button">Like</span></li>
      <li><span class="icon"></span><span class="action-button">Comment</span></li>
      <li><span class="icon"></span><span class="action-button">Re-Post</span></li>
      <li><span class="icon"></span><span class="action-button">Share</span></li>
    </ul>
  </div>
</div>
