<div id="main">
  <nav>
    <app-navigation-side-bar></app-navigation-side-bar>
  </nav>
  <header>
    <img routerLink="" src="/logo/logo-no-background-compact.png" alt="short-post-itter-logo" width="70px"
         height="100px">
  </header>
  <main>
    <div id="button-container">
      <div class="button" (click)="clearNotifications()">Clear Notifications</div>
    </div>
    <div id="notifs-container">
      <div>
        <app-notification *ngFor="let notification of myself.notifications"
                          [notification]="notification"></app-notification>
      </div>
    </div>
  </main>
</div>
