<div id="main" #main>
  <nav>
    <app-navigation-side-bar></app-navigation-side-bar>
  </nav>
  <header>
    <img routerLink="" src="/logo/logo-no-background-compact.png" alt="short-post-itter-logo" width="70px"
         height="100px">
  </header>
  <main *ngIf="!isLoaded">
    <app-loader></app-loader>
  </main>
  <main *ngIf="isLoaded">
    <div id="button-container" [ngClass]="localStorage.getItem('app-theme') == 'dark' ? 'darkmode' : ''">
      <div class="button" (click)="clearNotifications()">Clear Notifications</div>
    </div>
    <div id="notifs-container">
      <div *ngFor="let notification of myNotifsObservable | async" style="display: flex; align-items: center">
        <app-notification [notification]="notification" style="display: inline-block"></app-notification>
        <div style="display: inline-block;" (click)="clearSingleNotification(notification.id)">
          <img src="/icons/trash.png" alt="" width="36px" style="border: 1px solid lightgray; border-radius: 12px">
        </div>
      </div>
    </div>
    <div *ngIf="noNotifs" style="display: flex; align-items: center; justify-content: center;">No notifications</div>
    <div style="margin-top: 12px; display: grid; place-content: center"><small>Click on the user's pfp to take
      action.</small></div>
  </main>
</div>
