<div id="main">
  <nav>
    <app-navigation-side-bar></app-navigation-side-bar>
  </nav>
  <header>
    <img routerLink="" src="/logo/logo-no-background-compact.png" alt="short-post-itter-logo" width="70px"
         height="100px">
  </header>
  <main *ngIf="!isLoaded">
    <app-loader></app-loader>
  </main>
  <main *ngIf="postDataObservable | async as post">
    <div id="flex-container" (load)="isLoaded = true">
      <div id="post" #postref>
        <div id="user">
          <div id="pfp" routerLink="/users/{{post?.user?.id}}"><img
            src="{{post?.user?.profilePicture || 'blank.jpeg'}}"></div>
          <p id="name"><span style="font-weight: bold">
          {{ post?.user?.displayName }}</span><br>{{ post?.user?.username }}
          </p>
          <img src="/icons/menu-dots-vertical.svg" alt="user-options" width="4%" (click)="triggerUserOptions()"
               class="options">
          <div class="dropdown" *ngIf="userOptionsDropdownShown">
            <div *ngIf="!ownedByActiveUser">
              <div class="dropdown-option" (click)="reportPost()">
                <img src="/icons/exclamation.svg" alt="exclamation" width="20%">
                <div>Report Post</div>
              </div>
              <div class="dropdown-option" (click)="reportDetail()">
                <img src="/icons/cross-circle.svg" alt="cross" width="20%">
                <div>Report User</div>
              </div>
            </div>
            <div *ngIf="ownedByActiveUser">
              <div class="dropdown-option" (click)="deletePostDetail()">
                <img src="/icons/trash.png" alt="trash" width="20%">
                <div>Delete Post</div>
              </div>
            </div>
          </div>
        </div>
        <div class="post-content" routerLink="/posts/{{post?.id}}" #postcontent1>
          <p #postcontent2>{{ post?.body }}</p><br>
          <p #postcontent3>
            <span *ngFor="let hash of post?.hashtags" style="color: lightblue">#{{ hash }} </span>
          </p>
        </div>
        <div id="actions">
          <ul>
            <li>
              <span class="icon"><img src="/icons/heart.png" alt="like" width="25%" align="center"
                                      (click)="likeDetail($event)"></span>{{ post?.likes }}
            </li>
            <li>
              <span class="icon"><img src="/icons/comment-alt-middle.svg" alt="comment" width="25%" align="center"
                                      (click)="commentDetail()"></span>
              <span *ngIf="post?.comments">{{ post?.comments?.length }}</span><span *ngIf="!post?.comments">0</span>
            </li>
            <li>
              <span class="icon"><img src="/icons/code-compare.svg" alt="share" width="25%"
                                      align="center" (click)="repostDetail()"></span>{{ post?.reposts }}
            </li>
            <li>
              <span class="icon"><img src="/icons/paper-plane.svg" alt="" width="25%" align="center"
                                      (click)="shareDetail()"></span>{{ post?.shares }}
            </li>
          </ul>
        </div>
      </div>
      <div class="comment" *ngFor="let comment of post?.comments">
        <div id="comment-info">
          <img src="{{comment?.user?.profilePicture}}" alt="" width="40px" height="40px" class="inline-blk"
               style="border-radius: 50%; margin: 5px;">
          <div class="inline-blk" style="padding: 4px 8px">
            <p style="font-weight: bold">{{ comment?.user?.username }}</p>
            <p>{{ comment?.user?.displayName }}</p>
          </div>
        </div>
        <div class="post-content">{{ comment?.content }}</div>
      </div>
    </div>

    <app-report *ngIf="showReportPanel" (showReportWindowChange)="stopReportingDetail($event)"
                [reportedUser]="post.user"></app-report>
    <app-comment *ngIf="showCommentPanel" (showCommentWindowChange)="stopCommentingDetail($event)"
                 [post]="currentPost"
                 [currentUser]="currentUser"></app-comment>
    <app-share *ngIf="showSharePanel" (showShareWindowChange)="stopSharingDetail($event)"
               [postToShare]="currentPost"
               [currentUSer]="currentUser"></app-share>

  </main>
</div>
