<div id="main" #main>
  <nav>
    <app-navigation-side-bar></app-navigation-side-bar>
  </nav>
  <header>
    <img routerLink="" src="/logo/logo-no-background-compact.png" alt="short-post-itter-logo" width="70px"
         height="100px">
  </header>
  <main *ngIf="!isLoaded">
    <app-loader></app-loader>
  </main>
  <main *ngIf="userObservable | async as user">
    <div id="user-info">
      <img src="{{user?.profilePicture || 'blank.jpeg'}}" alt="" class="inline-blk" id="pfp">
      <div class="inline-blk buttons" style="font-size: larger">
        <p style="font-weight: bold; justify-content: start;">{{ user?.username }}</p>
        <p style="justify-content: start">{{ user?.displayName }}</p>
      </div>
      <div class="inline-blk">
        <div style="display: flex; justify-content: space-between">
          <div class="inline-blk">
            <div class="inline-blk">
              <p>Posts</p>
              <p *ngIf="user?.posts">{{ user?.posts?.length }}</p>
              <p *ngIf="!user?.posts">0</p>
            </div>
            <div class="inline-blk" (click)="showFollowers()">
              <p>Followers</p>
              <p *ngIf="user?.followers">{{ user?.followers?.length }}</p>
              <p *ngIf="!user?.followers">0</p>
            </div>
            <div class="inline-blk" (click)="showFollowing()">
              <p>Following</p>
              <p *ngIf="user?.following">{{ user?.following?.length }}</p>
              <p *ngIf="!user?.following">0</p>
            </div>
          </div>
        </div>
      </div>
      <div class="inline-blk" id="filters" #filters>
        <ul>
          <div class="inline-blk">Filter:</div>
          <li class="inline-blk" (click)="changeFilter(0)">Likes</li>
          <li class="inline-blk" (click)="changeFilter(1)">Comments</li>
          <li class="inline-blk" (click)="changeFilter(2)">Reposts</li>
          <li class="inline-blk selected" (click)="changeFilter(3)">None</li>
        </ul>
      </div>
    </div>
    <div id="flex-container-posts">
      <app-post *ngFor="let post of postsObservable | async" [post]="post" [currentUser]="user"
                (commentWindow)="showCommentingWindow($event)" (shareWindow)="showSharingWindow($event)"
                (click)="setLastClickedPost(post)" class="post"></app-post>
    </div>

    <div id="show-followers-overlay" *ngIf="showAllFollowers">
      <div id="followers-modal">
        <div class="close-image">
          <div style="float: right">
            <img src="/icons/cross.svg" alt="" width="32px" style="border-radius: 50%;"
                 (click)="closeFollowersWindow()">
          </div>
        </div>
        <h3>{{ user.username }}'s Followers</h3>
        <div *ngIf="!user.followers || user.followers.length == 0" style="font-size: smaller">No followers</div>
        <app-user *ngFor="let user of user.followers" [user]="user" routerLink="/users/{{user.id}}"></app-user>
      </div>
    </div>

    <div id="show-following-overlay" *ngIf="showAllFollowing">
      <div id="following-modal">
        <div class="close-image">
          <div style="float: right">
            <img src="/icons/cross.svg" alt="" width="32px" style="border-radius: 50%;"
                 (click)="closeFollowingWindow()">
          </div>
        </div>
        <h3>{{ user.username }}'s Followings</h3>
        <div *ngIf="!user.following || user.following.length == 0" style="font-size: smaller">No followings</div>
        <app-user *ngFor="let user of user.following" [user]="user" routerLink="/users/{{user.id}}"></app-user>
      </div>
    </div>

    <app-comment *ngIf="showCommentWindow" (showCommentWindowChange)="closeCommentingWindow($event)"
                 [post]="lastClickedPost"
                 [currentUser]="user"></app-comment>
    <app-share *ngIf="showShareWindow" (showShareWindowChange)="closeSharingWindow($event)"
               [postToShare]="lastClickedPost"
               [currentUSer]="user"></app-share>

  </main>
</div>
<!-- routerLink="posts/{{post.id}}" -->
