<div id="main" #main>
  <div id="logo"><img src="/logo/logo-no-background.png" alt="PostData-Itter logo" width="180"/></div>
  <br>
  <ul id="top-links">
    <li>
      <div (click)="navBar.nativeElement.getElementsByTagName('a')[0].click()">
        <a routerLink="/">
          <img src="/icons/home.svg" width="32" height="32">
          <div>Home</div>
        </a>
      </div>
    </li>
    <li>
      <div (click)="navBar.nativeElement.getElementsByTagName('a')[1].click()">
        <a routerLink="/search">
          <img src="/icons/search.svg" width="32" height="32">
          <div>Search</div>
        </a>
      </div>
    </li>
    <li>
      <div (click)="navBar.nativeElement.getElementsByTagName('a')[2].click()">
        <a routerLink="/notifications">
          <img src="/icons/bell.svg" width="32" height="32">
          <div>Notifications</div>
        </a>
      </div>
    </li>
    <li>
      <div (click)="navBar.nativeElement.getElementsByTagName('a')[3].click()">
        <a routerLink="/messages">
          <img src="/icons/messages.svg" width="32" height="32">
          <div>Messages</div>
        </a>
      </div>
    </li>
    <li>
      <div (click)="navBar.nativeElement.getElementsByTagName('a')[4].click()">
        <a routerLink="/profile">
          <img src="/icons/flame.svg" width="32" height="32" style="border: 1px solid black; border-radius: 50%">
          <!-- TODO must change the pic here to be the user's one! not the flame! -->
          <div>Profile</div>
        </a>
      </div>
    </li>
    <li>
      <div (click)="navBar.nativeElement.getElementsByTagName('a')[5].click()">
        <a routerLink="/user-settings">
          <img src="/icons/settings.svg" width="32" height="32">
          <div>Profile Settings</div>
        </a>
      </div>
    </li>
  </ul>
  <ul id="bottom-links">
    <li><a routerLink="/about">About PostItter</a></li>
    <span style="transform: translateY(5px)">&bull;</span>
    <li><a routerLink="/contact">Contact Devs</a></li>
  </ul>
</div>
