<div id="main" #main>
  <div id="logo"><img src="/logo/logo-no-background.png" alt="Post-Itter logo" width="90%"/></div>
  <br>
  <ul id="top-links">
    <li>
      <div>
        <a routerLink="/">
          <img src="/icons/home.svg" width="12%" height="12%">
          <div>Home</div>
        </a>
      </div>
    </li>
    <li>
      <div>
        <a routerLink="/search">
          <img src="/icons/search.svg" width="12%" height="12%">
          <div>Search</div>
        </a>
      </div>
    </li>
    <li>
      <div>
        <a routerLink="/notifications">
          <img src="/icons/bell.svg" width="12%" height="12%">
          <div>Notification</div>
        </a>
      </div>
    </li>
    <li>
      <div>
        <a routerLink="/search/trending">
          <img src="/icons/flame.svg" width="12%" height="12%">
          <div>Trending</div>
        </a>
      </div>
    </li>
    <li>
      <div>
        <a routerLink="/messages">
          <img src="/icons/messages.svg" width="12%" height="12%">
          <div>Messages</div>
        </a>
      </div>
    </li>
    <li>
      <div>
        <a routerLink="/user-settings">
          <img src="/icons/settings.svg" width="12%" height="12%">
          <div>Profile Settings</div>
        </a>
      </div>
    </li>
  </ul>
  <ul id="bottom-links">
    <li><a routerLink="/about">About PostItter</a></li>
    <li><a routerLink="/contact">Contact Devs</a></li>
  </ul>
</div>
