<div id="main" #main>
  <nav>
    <app-navigation-side-bar></app-navigation-side-bar>
  </nav>
  <header>
    <img routerLink="" src="/logo/logo-no-background-compact.png" alt="short-post-itter-logo" width="70px"
         height="100px">
  </header>
  <main>
    <div id="user-search-key">
      <div class="search-container">
        <span class="search-icon"><img src="/icons/search.svg" alt="search-icon" width="16"></span>
        <input type="text" name="search-bar" id="searchBar" #searchBar placeholder="Search for Anything"
               (keyup)="pushTerm()">
      </div>
    </div>
    <div class="filters" #filters [ngClass]="localStorage.getItem('app-theme') == 'dark' ? 'darkmode' : ''">
      <div>Filter by:</div>
      <ul>
        <li (click)="changeFilter(0)" [ngClass]="activatedFilter === 0 ? 'selected' : ''">Users</li>
        <li (click)="changeFilter(1)" [ngClass]="activatedFilter === 1 ? 'selected' : ''">Posts</li>
        <li (click)="changeFilter(2)" [ngClass]="activatedFilter === 2 ? 'selected' : ''">Hashtags</li>
        <li (click)="changeFilter(3)" [ngClass]="activatedFilter === 3 ? 'selected' : ''">Anything</li>
      </ul>
    </div>
  </main>
  <article>
    <ng-container *ngFor="let item of responseData">
      <app-user *ngIf="isUserData(item)" [user]="item" routerLink="/users/{{item.id}}"></app-user>
      <app-post *ngIf="isPostData(item)" [currentUser]="currentUser" [post]="item" class="post"></app-post>
    </ng-container>
  </article>
</div>
